# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Xcode
*.xcodeproj/
*.xcworkspace/
xcuserdata/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xccheckout
*.moved-aside
DerivedData/

# Swift
.build/
.swiftpm/
Packages/
Package.resolved

# Temp
.temp/
*.log
